@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-han-black bg-white;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold;
  }
} 